
.mess{
  margin: 20px;
  /* background-color: rgb(97, 97, 97); */
  /* color: white; */
  padding: 15px;
  border-radius: 10px;
  Box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.469);
  width: fit-content;
  max-width: 70%;
  line-height: 30px;
}

.mess-name{
  color: rgb(127, 127, 127);
  padding-bottom: 10px;
}

